<footer class="col-sm-12">
    <div class="mofooter">
      <div class="icons">
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/images/footer-icon-email.svg"><a target="_blank" href="mailto:{{ athanasios.priftis@hesge.ch }}">Email</a></div>
        </div>
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/images/footer-icon-github.svg"><a target="_blank" href="{{ site.github.base }}/{{ site.github.repo }}">Git</a></div>
        </div>
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/images/cc-logo.svg"><a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">License</a></div>
        </div>
      </div>
        <p>HESGE, 646-2 Option d’école VI, Cours Wikinomie, Semestre de printemps <a href="https://www.hesge.ch/heg/sites/default/files/formation-base/IG/plan-modulaire/Plans-print-2019/646-2-wikinomie.pdf"> </a></p>
      </div>
    </div>
  </footer>
